/* Mobiel */
@media only screen and (max-width: 600px) {
    #second-menu {
        flex-direction: row;
    }

    #second-menu a {
        margin-right: 5px;
    }

    .col {
        flex: none;
    }

    #pad-col {
        margin-bottom: 20px;
    }

    .card {
        height: 100%;
        margin-bottom: 30px;
    }

    .notification {
        width: 330px !important;
    }

    #alle-lijsten-row {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Desktop */
@media (min-width:600px) {
    #list-values {
        height: 285px;
    }

    #bulk-list-values {
        height: 360px !important;
    }

    #alle-lijsten-row {
        grid-template-columns: repeat(4, 1fr);
    }

    #row {
        padding-bottom: 20px;
    }

    #keyword-container {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

/* Bootstrap containers */
@media (min-width:1280px) {
    .container {
        max-width: 1250px;
    }
}

@media (min-width:1440px) {
    .container {
        max-width: 1410px;
    }
}

@media (min-width:1600px) {
    .container {
        max-width: 1570px;
    }
}

@media (min-width:1920px) {
    .container {
        max-width: 1890px;
    }
}

/* Custom CSS */
body {
    font-family: madaregular;
    background-color: rgba(247, 238, 145, 0.25);
}

h1, h2, h3 {
    font-family: madabold;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #02343f;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
}

.btn {
    font-family: madabold;
    color: #fff !important;
    background-color: #02343f !important;
    border-color: #031c22 !important;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 12px;
    --bs-btn-hover-color: #f0edcc;
    --bs-btn-hover-bg: #031c22;
    --bs-btn-hover-border-color: #02343f;
    --bs-btn-active-color: #f0edcc;
    --bs-btn-active-bg: #031c22;
    --bs-btn-active-border-color: #02343f;
    width: 100%;
}

.secondbutton {
    font-family: madabold;
    color: #02343f !important;
    background-color: #fff !important;
    border-color: #031c22 !important;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 12px;
    --bs-btn-hover-color: #f0edcc;
    --bs-btn-hover-bg: #d0d0d0;
    --bs-btn-hover-border-color: #031c22;
    --bs-btn-active-color: #f0edcc;
    --bs-btn-active-bg: #d0d0d0;
    --bs-btn-active-border-color: #031c22;
    width: 100%;
}

.thirdbutton {
    font-family: madabold;
    color: #fff !important;
    border-color: #fff !important;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 1rem;
    --bs-btn-hover-color: #f0edcc;
    --bs-btn-hover-bg: #031c22;
    --bs-btn-hover-border-color: #02343f;
    --bs-btn-active-color: #f0edcc;
    --bs-btn-active-bg: #031c22;
    --bs-btn-active-border-color: #02343f;
    width: 100%;
}

textarea {
    font-family: madaregular;
    width: 100%;
    height: 285px !important;
    border: 2px solid #cdcdcd;
    border-radius: 1rem;
    resize: none;
    outline: 0;
    padding: 10px;
    font-size: 12px;
    overflow: auto;
    padding-right: 15px;
}

.form-control {
    border: 2px solid #02343f;
    border-radius: 1rem;
    background-clip: unset;
}

.card {
    font-family: madaregular;
    height: 100%;
    border: 2px solid #02343f;
    border-radius: 15px;
    resize: none;
    outline: 0;
    padding: 10px;
    overflow: auto;
    padding-right: 15px;
}

#alle-lijsten {
    margin-top: 30px;
    margin-bottom: 30px;
}

.textarea-results {
    height: 200px !important;
}

input[type=radio] {
    margin-left: 10px;
}

#woorden-totaal {
    height: 24px;
}

#resultaat {
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar {
    background-color: #ffffff;
    height: 60px;
    z-index: 900;
    border-bottom: 1px solid #02343f;
}

.tekens {
    height: 24px;
}

#top-container {
    margin-top: 80px;
}

.navbar-brand {
    font-family: madabold;
    color: #02343f;
}

.nav-link {
    font-family: madabold;
    color: #02343f;
}

.nav-link.active {
    font-family: madabold;
    color: #02343f !important;
    text-decoration: underline;
}

.img-fluid {
    border-radius: 1rem;
    margin-bottom: 30px;
}

.body-text b, strong {
    font-family: madabold !important;
    color: #02343f !important;
}

.navbar-toggler {
    border-color: #ffffff !important;
    color: #ffffff !important;
}

#c-navbar {
    background-color: #ffffff;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 2, 52, 63' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

a {
    font-family: madabold !important;
    color: #02343f !important;
}

.form-check-input:checked {
    background-color: #000;
    border-color: #000;
}

#date-text {
    white-space: pre-line;
    height: 50px;
    margin-top: 10px;
}

.notification {
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    height: 30px;
    line-height: 30px;
    background-color: #02343f;
    color: #f0edcc;
    text-align: center;
    border-radius: 10px;
    animation: fade-in 0.3s ease-in-out forwards;
    z-index: 1000;
}

@keyframes fade-in {
    from {
        top: -100%;
        opacity: 0;
    }

    to {
        top: 1.5%;
        opacity: 1;
    }
}

.notification.fade-out {
    animation: fade-out 0.3s ease-in-out forwards;
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

#bulk-input {
    height: 120px !important;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.accordion-item {
    border: 0px;
    border-radius: 1rem !important;
}

.accordion-button:not(.collapsed) {
    color: #02343f;
    background-color: #02343f26;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='02343f'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.table {
    --bs-table-border-color: #02343f;
}

#alle-lijsten-row {
    display: grid;
    grid-gap: 20px;
}

.accordion-unsorted-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

#select-option {
    margin-top: 20px;
    margin-bottom: 20px;
}

.callout {
    padding: 1rem;
    border: 1px solid #02343f;
    border-left-width: .25rem;
    border-radius: .25rem;
}

.form-select {
    border: 2px solid #02343f;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 1rem;
}

.result {
    flex: 1;
    overflow: hidden;
}

.result-content {
    height: 250px;
    overflow: hidden;
}

.common-result {
    --bs-list-group-bg: #dfdfdf;
}

.inactive {
    opacity: 0.3;
}

@media (min-width: 992px) {
    .modal-fullscreen {
        width: 100%;
        max-width: none;
    }
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

#welcomeText {
    display: flex;
    align-items: center;
    padding-right: 1rem;
}

.custom-dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.custom-dropdown input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 1rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
}

.custom-dropdown .dropdown-options {
    display: none;
    position: absolute;
    width: 100%;
    border-top: none;
    max-height: 250px;
    overflow-y: auto;
    background-color: #fff;
    z-index: 99;
    padding-left: 0px !important;
    border-radius: 1rem;
}

.dropdown-options.open {
    display: block !important;
}

.dropdown-options::-webkit-scrollbar {
    display: none;
}

.custom-dropdown .dropdown-options li {
    list-style: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-dropdown .dropdown-options li:hover {
    background-color: #f2f2f2;
}

#blauwe-container {
    background-color: #02343f;
    border-radius: 1.5rem;
    padding: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

#blauwe-container h2,
#blauwe-container h3,
#blauwe-container label.form-check-label {
    color: #fff;
}

#witte-container {
    background-color: #FFF;
    border-radius: 1.5rem;
    padding: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.dropdown-menu {
    --bs-dropdown-link-active-bg: #f2f2f2;
}

#row-serp {
    display: flex;
}

#col-serp {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.list-group {
    margin-bottom: 2rem;
}
.list-group-item {
    border-radius: 1rem !important;
    border: 1px solid #02343f;
}

.modal-dialog {
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%) !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

#user-info img {
    border-radius: 50%;
    margin-right: 10px;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgba(247, 238, 145, 0.25);
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

#loading-screen::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    mix-blend-mode: multiply;
    z-index: -1;
}


.gsi-material-button {
    background-color: WHITE;
    background-image: none;
    border: 1px solid #747775;
    -webkit-border-radius: 4px;
    border-radius: 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #1f1f1f;
    cursor: pointer;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 14px;
    height: 40px;
    letter-spacing: 0.25px;
    outline: none;
    overflow: hidden;
    padding: 0 12px;
    position: relative;
    text-align: center;
    -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
    transition: background-color .218s, border-color .218s, box-shadow .218s;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
    min-width: min-content;
    margin-top: 10px;
    margin-bottom: 10px;
}

.gsi-material-button .gsi-material-button-icon {
    height: 20px;
    margin-right: 12px;
    min-width: 20px;
    width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
    -webkit-align-items: center;
    align-items: center;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: center;
    position: relative;
    width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
    -webkit-flex-grow: 0;
    flex-grow: 0;
    font-family: 'Roboto', arial, sans-serif;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
    -webkit-transition: opacity .218s;
    transition: opacity .218s;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.gsi-material-button:disabled {
    cursor: default;
    background-color: #ffffff61;
    border-color: #1f1f1f1f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
    opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
    opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state,
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
    background-color: #303030;
    opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
    -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
    background-color: #303030;
    opacity: 8%;
}

#form-margin {
    margin-bottom: 1rem;
}

.hulp {
    display: inline-flex;
    margin-left: 5px;
    font-family: madabold;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #02343f;
    color: #fff;
    cursor: pointer;
}
.hulp-element {
    display: inline-flex;
}

.popover {
    width: 700px;
    max-width: none;
}
.popover-header {
    font-family: madabold;
    margin-top: 0px;
    color: #fff;
    background-color: #02343f;
}
.popover-content {
    font-family: madaregular;
}